@model IEnumerable<Course>
@{ 
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Github</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Rating</th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <th scope="row">@course.CourseId</th>
                <td>@course.CourseName</td>
                <td>@course.Rating</td>
            </tr>
        }
    </tbody>
</table>